---
import Moon from "../icons/Moon/Moon.astro";
import MoonOutline from "../icons/Moon/MoonOutline.astro";
import Sun from "../icons/Sun/Sun.astro";
import SunOutline from "../icons/Sun/SunOutline.astro";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Astro</title>
  </head>
  <body
    class="bg-light-bg dark:bg-dark-bg transition-all duration-300 mx-20"
  >
    <header class="flex items-center text-light-titles dark:text-dark-titles my-10">
        <h2 class="font-titles font-semibold text-2xl flex-1">wuiquique</h2>
        <div class="w-40 h-0.5 bg-light-titles dark:bg-dark-titles mx-10"></div>
        <button id="theme-toggle" class="group transition-all duration-300 w-14 aspect-square rounded-full flex justify-center items-center">
            <div class="block dark:hidden relative">
                <Moon svgClass="w-10 aspect-square transition-opacity duration-500 opacity-0 group-hover:opacity-100" />
                <MoonOutline svgClass="w-10 aspect-square transition-opacity duration-500 group-hover:opacity-0 absolute inset-0" />
            </div>
              <span class="hidden dark:block relative">
                <Sun svgClass="w-10 aspect-square transition-opacity duration-500 opacity-0 group-hover:opacity-100" />
                <SunOutline svgClass="w-10 aspect-square transition-opacity duration-500 group-hover:opacity-0 absolute inset-0" />
              </span>
        </button>
    </header>
    <main>
        <slot />
    </main>
  </body>
</html>

<script>
  if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark");
  }
</script>

<script>
  const themeToggle = document.getElementById("theme-toggle");
  const html = document.documentElement;

  // Carga el tema desde localStorage (si existe)
  if (localStorage.getItem("theme") === "dark") {
    html.classList.add("dark");
  } else {
    html.classList.remove("dark");
  }

  // Cambia entre los temas al hacer clic en el botón
  themeToggle.addEventListener("click", () => {
    html.classList.toggle("dark");
    // Guarda la preferencia del usuario
    if (html.classList.contains("dark")) {
      localStorage.setItem("theme", "dark");
    } else {
      localStorage.setItem("theme", "light");
    }
  });
</script>
